<ion-tabs color="secondary">
    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="requests">
            <ion-icon src="assets/icon/campaign-24px.svg"></ion-icon>
            <ion-label>YOU TUBE</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="home">
            <ion-icon src="assets/icon/home-24px.svg"></ion-icon>
            <ion-label>HOME</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="settings">
            <ion-icon src="assets/icon/settings-24px.svg"></ion-icon>
            <ion-label>SETTINGS</ion-label>
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>
